<!DOCTYPE html> <!-- 메인페이지 입니다. -->
<html>
  <head>
    <%- include('../partials/head') %>
    <style>
         body {
           background-image: url('https://cdn.pixabay.com/photo/2012/04/11/17/31/vegetables-29063_960_720.png');
           background-repeat: no-repeat;
           background-size: cover;
         }
    </style>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      
        <h1>슬기로운 자취생활</h1>
        <P>모든 자취생 여러분 환영합니다!</p>
      

    </div>
  </body>
</html>
